/* Cart Header Styling */
.cart-header h1 {
    margin-bottom: 20px; 
}

.cart-header p {
    margin-top: 10px; 
}

.empty-cart h2 {
    font-family: 'Audiowide', cursive;
    font-size: 36px;
    margin-top: 150px;
    margin-bottom: 10px;
}

.currency {
    margin-left: 5px; 
}

.cart-items {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    border-bottom: 1px solid #2B88D9;
    padding-bottom: 10px;
}

.cart-item img {
    width: 80px;
    height: auto;
    margin-right: 5px;
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 24px;
    color: white;
}

.checkout-btn {
    margin-top: 20px;
    background-image: linear-gradient(45deg, #2B88D9, #554AD2, #3A0BC2);  
    color: transparent;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.checkout-btn:hover {
    background-color: none;
}

@media screen and (max-width: 600px) {
    .main-content {
        width: 100%;
        max-width: 380px; /* Limit the width to fit within mobile screens */
        margin: 0 auto; /* Center horizontally */
        padding: 0 10px; /* Add slight padding to prevent overflow */
        box-sizing: border-box; /* Ensure padding is included in width */
    }

    .main-content .top-section {
        width: 100%; /* Take full width of .main-content */
        max-width: 100%; /* Make sure it doesn't exceed viewport width */
        flex-direction: column;
        align-items: center; /* Center contents horizontally */
        gap: 10px;
        margin: 0;
        padding: 0;
    }
    .checkout-btn {
        display: block;
        margin: 20px auto; /* Center horizontally */
        padding: 10px 30px; /* Adjust padding for a larger button */
        text-align: center;
        width: fit-content; /* Make button width fit the content */
    }

    /* Footer adjustments */
    .footer-links, .footer-logo, .footer-socials {
        margin: 10px 0;
        text-align: center;
    }

    .footer-links a {
        font-size: 0.9em;
    }
}