/* Promo Section */
.promo-section {
  flex: 1; /* Takes up less space than the carousel */
  padding: 20px;
}

.promo-section h1, .highlight-text h1 {
  font-family: 'Audiowide', sans-serif;
  font-size: 2.5rem;
  color: #00aaff;
}

.promo-section p, .highlight-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: #a0d0ff;
}

.promo-button, .highlight-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0033cc;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.promo-button:hover, .highlight-button:hover {
  background-color: #0055ff;
}

/* Ensure the carousel takes up space on the left */
.carousel {
  flex: 3; /* Adjust this based on how much space you want it to take */
  display: flex;
  justify-content: center;
}

/* Highlight Section */
.highlight-section {
  width: 100%; /* Take full width of the page */
  margin-top: 40px; /* Provide spacing from the carousel */
  display: flex;
  justify-content: space-between;
}

/* Adjust image size in highlight */
.highlight-promo img {
  width: 300px;
  height: auto;
  border-radius: 15px;
}

.highlight-promo {
  flex: 1;
  max-width: 300px;
  border-radius: 15px;
}

.highlight-text {
  flex: 1;
  padding-left: 20px;
  width: 60%;
}
