.privacy-policy {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 20px;
    color: #fff;
}

.privacy-policy h1 {
    font-family: 'Audiowide', cursive;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.privacy-policy p,
.privacy-policy ul li {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.privacy-policy h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    margin-bottom: 15px;
    color: #2B88D9;
}

.privacy-policy h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
    color: #7dc2ff ;
}

.privacy-policy ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

.privacy-policy ul li {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    line-height: 1.5;
}

@media screen and (max-width: 600px) {
    .main-content {
        width: 100%;
        max-width: 380px; 
        margin: 0 auto; 
        padding: 0 10px; 
        box-sizing: border-box; 
    }

    .main-content .top-section {
        width: 100%; 
        max-width: 100%; 
        flex-direction: column;
        align-items: center; 
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    .footer-links, .footer-logo, .footer-socials {
        margin: 10px 0;
        text-align: center;
    }

    .footer-links a {
        font-size: 0.9em;
    }
}