.main-content h1 {
    font-family: 'Audiowide', cursive;
    font-size: 3rem;
    color: #fff; 
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px; 
}

.game-overview {
    text-align: center;
    margin-bottom: 60px;
}

.filters {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    background-color: #222;
    padding: 10px;
    border-radius: 8px;
}

.filters label {
    color: white;
    font-weight: bold;
}

.filters select {
    padding: 5px;
    border: 1px solid #2B88D9;
    border-radius: 5px;
    background-color: #111;
    color: #fff;
}

.reset-filters-btn {
    background-color: #cc0000; 
    color: #ffffff; 
    font-weight: bold; 
    padding: 10px;
    border-radius: 5px;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
}

.game-item {
    width: 200px;
    text-align: center;
    padding: 15px;
    background-color:none;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.game-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 3px solid #00f; 
}

.game-item button {
    background-color: #2B88D9;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.game-item button:hover {
    background-color: #1E6FB3;
}

.game-item h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.94rem;
    color: #fff;
    margin-bottom: 5px;
}

.game-item p {
    color: #fff;
    margin-bottom: 10px;
}

.add-to-cart-btn {
    background-color: #003f88 !important;
    color: #ffffff !important; 
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.add-to-cart-btn:hover {
    background-color: #002766 !important;
}

@media screen and (max-width: 600px) {
    .main-content {
        width: 100%;
        max-width: 380px; 
        margin: 0 auto; 
        padding: 0 10px; 
        box-sizing: border-box; 
    }

    .main-content .top-section {
        width: 100%; 
        max-width: 100%; 
        flex-direction: column;
        align-items: center; 
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    .game-list {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        gap: 20px;
    }

    .game-item {
        width: 90%; 
        max-width: 300px; 
        margin-bottom: 70px; 
        margin-top: 20px;
    }

    .add-to-cart-btn {
        width: 100%;  
        margin-top: 10px; 
        margin-bottom: 15px;
        padding: 12px;
        font-size: 1rem;
    }

   
    .filters {
        display: flex;
        flex-direction: column; 
        align-items: center;
        gap: 8px;
    }

    .filters select, 
    .filters button {
        width: 90%; 
        padding: 10px;
        font-size: 1rem;
    }

    .footer-links, .footer-logo, .footer-socials {
        margin: 10px 0;
        text-align: center;
    }

    .footer-links a {
        font-size: 0.9rem;
    }
}
